[project]
	description = Personal Webpage
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rish (rishcodes12)
[access "refs/for/refs/*"]
	read = group user/Rish (rishcodes12)
	push = group user/Rish (rishcodes12)
	label-Code-Review = -2..+2 group user/Rish (rishcodes12)
	label-Verified = -1..+1 group user/Rish (rishcodes12)
	rebase = group user/Rish (rishcodes12)
	removeReviewer = group user/Rish (rishcodes12)
	submit = group user/Rish (rishcodes12)
[access "refs/heads/*"]
	read = group user/Rish (rishcodes12)
	create = group user/Rish (rishcodes12)
	push = +force group user/Rish (rishcodes12)
	pushMerge = group user/Rish (rishcodes12)
[access "refs/tags/*"]
	push = group user/Rish (rishcodes12)
	push = +force group user/Rish (rishcodes12)
