/*****************************/
/* INSERT YOUR CSS CODE HERE */
/*****************************/

body {
	color: white;
}

.navbar-default {
	background-color: #79C0FF;
}

.jumbotron {
	background-color: #79C0FF;
}

.jumbotron .resume {
	color: #21537F;
	font-size: 24px;	
}

.jumbotron img {
	border-radius: 100%;
	border: 10px solid white;
}

.section {
	background-color: #21537F;
}

.quote-section {
	background-color: #79C0FF;
	padding-top: 20px;
	padding-bottom: 20px;
}

